/* ==========================================================================
   GLOBAL STYLES - General application structure and typography
   ========================================================================== */
@use "variables" as *;

body {
  font-family: $font-body; 
  background-color: $color-secondary; 
  color: $color-dark; 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title; 
  color: $color-dark; 
  font-weight: $weight-bold;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-content {
  flex: 1;
  width: 100%;
}
